@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    color-scheme: light dark;
}

html {
    color-scheme: dark;
    font-family: 'Open Sans', sans-serif;
    background-color: light-dark(#f4f4f4, #222222);
}

main {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

div[contenteditable] {
    outline: none;
}

@media screen and (max-width: 600px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.vertex-edit {
    background-color: light-dark(#f4f4f4, #222222);
    color: light-dark(#222222, #f4f4f4);
    border: 1px solid transparent;
    width: 100%;
    min-width: 100px;
    height: auto;
    min-height: 25px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    white-space: pre-line;
}

.vertex-edit:focus {
    outline: none;
}

.markdown {
    background-color: transparent;
    color: light-dark(#222222, #f4f4f4);
    border: 1px solid transparent;
    width: 100%;
    height: auto;
    min-height: 25px;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.vertex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.handle {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handle:hover {
    background-color: light-dark(#7427a1, #414141);
}

.handle-dot {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: light-dark(#f4f4f4, #666666);
    transition: all 0.2s ease-in-out;
}

.handle:hover>.handle-dot {
    height: 10px;
    width: 10px;
}

.parent {
    display: flex;
    flex-direction: column;
}

.source {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}


.sortable {
    padding: 1px;
    margin-left: 25px;
}

.debug {
    border: 1px solid rgb(87, 85, 85);
}

.sortable-ghost {
    background-color: light-dark(#27a19b, #414141);
    height: 2px;
    position: relative;
    overflow: hidden;
}

.sortable-drag {
    background-color: light-dark(#7427a1, #616161);
    opacity: 0;
}

.sortable-chosen {
    /* background-color: light-dark(#29b362, #29b362); */
    border: 1px solid light-dark(#27a19b, #161616);
    box-shadow: 0 0 10px light-dark(#27a19b, #2c2c2c)
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid light-dark(#e0e0e0, #333333);
    width: 100%;
}



.add-vertex {
    width: 100%;
    height: 30px;
    margin-left: 25px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 2px;
}

.add-vertex:hover {
    background-color: light-dark(#7427a1, rgb(29, 29, 29));
    border: 2px dashed light-dark(#7427a1, rgb(53, 53, 53));
}