@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    color-scheme: light dark;
}

html {
    color-scheme: dark;
    font-family: 'Open Sans', sans-serif;
    background-color: light-dark(#f4f4f4, #222222);
}

main {
    padding-left: 20%;
    padding-right: 20%;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.vertex {
    background-color: transparent;
    color: light-dark(#222222, #f4f4f4);
    border: 1px solid transparent;
    width: 100%;
    min-width: 100px;
    height: auto;
    min-height: 25px;
    line-height: 120%;
    overflow: hidden;
    padding: 5px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px; */
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    resize: none;
    vertical-align: middle;
    white-space: pre-line
}

.handle {
    height: 25px;
    width: 25px;
    margin-top: 4px;
    border-radius: 100%;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    display: flex;
    flex-direction: column;
}

.source {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}


.sortable {
    padding: 1px;
    margin-left: 25px;
}

.debug {
    border: 1px solid rgb(87, 85, 85);
}

.sortable-ghost {
    background-color: light-dark(#27a19b, #414141);
    height: 2px;
    position: relative;
    overflow: hidden;
}

.sortable-drag {
    background-color: light-dark(#7427a1, #616161);
    opacity: 0.5;
    border: 1px solid light-dark(#7427a1, #616161);
}

.sortable-chosen {
    /* background-color: light-dark(#29b362, #29b362); */
    border: 1px solid light-dark(#27a19b, #161616);
    box-shadow: 0 0 10px light-dark(#27a19b, #2c2c2c)
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid light-dark(#e0e0e0, #333333);
    width: 100%;
}

.vertex:focus {
    outline: none;
    background-color: light-dark(#c0c0c0, #1b1b1b);
}

.vertex:hover {
    background-color: light-dark(#d0d0d0, #1f1f1f);
}